# This is a Sample File based on Export from Search Query

In [1]:
#import modules and dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gmaps
from pprint import pprint
from config import gkey
from config import api_key
gmaps.configure(api_key= gkey)

#filters for dataframe from export.
table = pd.read_csv('data/export.csv')
#drop columns and duplicates for readability
master=table.drop(columns=['Unnamed: 0', 'Business ID']).drop_duplicates()

In [2]:
#sort the dataframe by number of reviews, Taking away duplicates
master2= master.sort_values(by='Reviews', ascending=False)

In [3]:
master2

,Business,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
44,Katz's Delicatessen,New York,NY,Delis,40.722237,-73.987430,2,11713,4.0
25,Ippudo NY,New York,NY,Ramen,40.730920,-73.990150,2,9849,4.0
3449,The Halal Guys,New York,NY,Food Stands,40.761756,-73.979230,1,9250,4.0
5,Joe's Shanghai,New York,NY,Shanghainese,40.714669,-73.997760,2,5944,4.0
4449,Peter Luger,Brooklyn,NY,Steakhouses,40.709945,-73.962478,4,5535,4.0
...,...,...,...,...,...,...,...,...,...
45,Baodega,New York,NY,Shanghainese,40.740140,-73.991780,0,62,4.0
2749,Jintana Thai Farmhouse,Brooklyn,NY,Thai,40.666597,-73.982110,0,59,4.5
4899,Sugar Momma,New York,NY,Cocktail Bars,40.708310,-74.005670,2,48,4.5
4349,shabushabu Mayumon,New York,NY,Japanese,40.714340,-73.992050,0,8,5.0
27,Zooba,New York,NY,Egyptian,40.721293,-73.997310,0,8,5.0

# Change the Groupby to Category to Get Breakdown of Restaurants in Given Area

In [ ]:
# master2.groupby('Category')
#count the different categories in the category count.
category_counts = master2['Category'].nunique()
#get the average of the reviews for sample of 50
average_reviews = master2['Reviews'].mean()
#get the average of the ratings for sample of 50
average_rating = master2['Rating'].mean()
#average price rating throughout sample
average_price = master2['Price'].mean()

#group by category
grouped_east_df = master2.groupby('Category')

#counts the total of each category within the column
total_category = grouped_east_df['Category'].count()
price_avg = grouped_east_df['Price'].mean()
review_counts = grouped_east_df['Reviews'].mean()
rating_counts = grouped_east_df['Rating'].mean()

#This will populate an array of all categories in Sample.
# east_category_unique = grouped["Category"].unique()
# east_category_unique #121 unique categories
# east_total_categories = len(east_category_unique)

#Populate a dataframe with specfics on Manhattan,NY Grouped by Category.
#This will populate the top 10 Categories when using .head(10)Can Be Changed for scope.
category_stats_df= pd.DataFrame({
    "Number of Restaurants": total_category,
    "Average Price of Category": price_avg.round(2),
    "Average # of Reviews per Restaurant": review_counts.astype(int),
    "Average Rating by Category": rating_counts.round(2)
}).sort_values(by='Number of Restaurants', ascending=False).head(10)

# Populate Dataframe Filtering by Greater Number of Restaurants in Sample

In [13]:
category_stats_df

,Number of Restaurants,Average Price of Category,Average # of Reviews per Restaurant,Average Rating by Category
Category,,,,
Chinese,18,1.50,790,4.25
American (New),15,2.40,1022,4.13
Japanese,11,1.91,656,4.36
Italian,9,2.11,1544,4.17
Korean,8,1.88,1120,4.44
French,6,2.17,1010,4.25
Seafood,6,2.00,1675,4.25
Cajun/Creole,5,2.00,1224,4.20
Thai,4,1.50,2071,4.50
American (Traditional),4,2.50,626,4.12
Shanghainese,4,1.50,1954,4.12
Southern,4,2.00,1534,4.00
Vietnamese,3,2.00,656,4.17
Breakfast & Brunch,3,2.00,2313,4.00
Sandwiches,3,1.33,1571,4.17
Mexican,2,2.00,756,4.50
Mediterranean,2,2.50,307,4.00
Bars,2,2.50,533,4.00
Gastropubs,2,2.00,580,4.75
Ramen,2,2.00,5385,4.25
Steakhouses,2,3.50,3068,4.25
Pizza,2,2.00,2019,4.25
Tacos,2,1.00,2147,4.50
Taiwanese,2,2.00,645,4.50
Cuban,2,2.50,1697,4.25
Cocktail Bars,2,2.00,57,4.50
Tapas/Small Plates,2,2.00,611,4.25
Specialty Food,1,2.00,560,4.50
Tapas Bars,1,3.00,1848,4.00
Tuscan,1,2.00,725,4.00
Sushi Bars,1,0.00,63,4.50
Barbeque,1,2.00,1292,4.00
Peruvian,1,2.00,555,4.50
Egyptian,1,0.00,8,5.00
Brazilian,1,2.00,1301,4.00
Burgers,1,2.00,1556,4.50
Cafes,1,2.00,110,5.00
Bakeries,1,2.00,4852,4.00
Comfort Food,1,2.00,3894,4.00
Delis,1,2.00,11713,4.00
Filipino,1,2.00,1548,4.00
Noodles,1,2.00,78,4.00
Food Court,1,2.00,146,3.50
Food Stands,1,1.00,9250,4.00
Georgian,1,2.00,148,4.50
Indian,1,2.00,1416,4.50
Asian Fusion,1,2.00,2026,4.00
Moroccan,1,2.00,1131,4.50
Wine Bars,1,2.00,753,4.00

In [11]:
len(category_stats_df)

10

In [6]:
#display of sorted dataframe.
master2
top_ten = pd.DataFrame(master.sort_values(by='Reviews', ascending=False).head(10))

# Create a Table of Top 10 Places in Sample

In [7]:
top_ten

,Business,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
44,Katz's Delicatessen,New York,NY,Delis,40.722237,-73.987430,2,11713,4.0
25,Ippudo NY,New York,NY,Ramen,40.730920,-73.990150,2,9849,4.0
3449,The Halal Guys,New York,NY,Food Stands,40.761756,-73.979230,1,9250,4.0
5,Joe's Shanghai,New York,NY,Shanghainese,40.714669,-73.997760,2,5944,4.0
4449,Peter Luger,Brooklyn,NY,Steakhouses,40.709945,-73.962478,4,5535,4.0
6,Burger & Lobster,New York,NY,Seafood,40.740070,-73.993440,2,5274,4.0
15,Clinton Street Baking Company,New York,NY,Bakeries,40.721128,-73.983933,2,4852,4.0
2,LoveMama,New York,NY,Thai,40.730386,-73.986061,2,4579,4.5
12,Jacob's Pickles,New York,NY,Comfort Food,40.786650,-73.975528,2,3894,4.0
4649,Carmine's Italian Restaurant - Times Square,New York,NY,Italian,40.757496,-73.986684,2,3593,4.0

# Create a Heatmap Based on Sample of 50 using # of Reviews as Weight

In [8]:
#create a heatmap of top ten places in sample
coordinates = master2[["Latitude", "Longitude"]]
# newyork_coordinates
weights = master2["Reviews"].astype(float)
# Heatmap 
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(coordinates, weights=weights,
                                   max_intensity=100,
                                   point_radius=10)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))