# This is a Sample File based on Export from Search Query

In [1]:
#import modules and dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gmaps
from pprint import pprint
from config import gkey
from config import api_key
gmaps.configure(api_key= gkey)

#filters for dataframe from export.
table = pd.read_csv('data/export.csv')
master=table.drop(columns=['Unnamed: 0', 'Business ID'])

In [2]:
#sort the dataframe by number of reviews.
master2= master.sort_values(by='Reviews', ascending=False)

In [3]:
master2

,Business,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
7,Destination Dogs,New Brunswick,NJ,Hot Dogs,40.494711,-74.448171,2,869,4.5
47,Skylark Diner & Lounge,Edison,NJ,Diners,40.507740,-74.391035,2,674,3.5
12,Clydz,New Brunswick,NJ,American (New),40.495089,-74.445487,2,644,4.0
39,Topgolf,Edison,NJ,American (New),40.518360,-74.368310,2,622,3.5
23,Stuff Yer Face,New Brunswick,NJ,Pubs,40.498057,-74.448987,2,600,3.5
16,Old Man Rafferty's,New Brunswick,NJ,Bars,40.496574,-74.443792,2,545,3.5
27,Stage House Tavern,Somerset,NJ,American (Traditional),40.497680,-74.526960,2,529,3.5
29,Brick House Tavern + Tap,South Plainfield,NJ,Bars,40.549699,-74.430655,2,428,3.0
14,Harvest Moon Brewery / Cafe,New Brunswick,NJ,Beer Bar,40.496176,-74.444321,2,407,3.5
40,Bar Louie - Brunswick Square,East Brunswick,NJ,Bars,40.423991,-74.381819,2,390,3.0
26,Gusto Grill,East Brunswick,NJ,Bars,40.419075,-74.374159,2,348,4.0
32,Arooga's,East Brunswick,NJ,Sports Bars,40.415067,-74.371187,2,287,3.0
5,Hailey's Harp and Pub,Metuchen,NJ,Irish,40.541342,-74.361062,2,274,4.0
11,George Street Ale House,New Brunswick,NJ,Gastropubs,40.495670,-74.444350,2,245,3.5
48,Sushi Room,New Brunswick,NJ,Sushi Bars,40.496888,-74.447381,2,233,3.0
18,INC American Bar & Kitchen,New Brunswick,NJ,American (New),40.492598,-74.443509,2,229,4.0
25,The Greene Turtle Sports Bar & Grille,North Brunswick,NJ,Sports Bars,40.437451,-74.504075,2,227,3.0
24,Arthur's Steakhouse & Pub,North Brunswick,NJ,Steakhouses,40.468572,-74.451883,2,226,3.0
45,Buffalo Wild Wings,North Brunswick,NJ,Chicken Wings,40.447040,-74.498500,2,224,3.0
49,Red Robin Gourmet Burgers and Brews,South Plainfield,NJ,Burgers,40.555310,-74.430693,2,162,3.0
22,Houlihan's,New Brunswick,NJ,Bars,40.479159,-74.423018,2,155,3.5
34,Roosterspin,New Brunswick,NJ,Bars,40.496362,-74.445401,2,141,3.5
41,Freddy's,Somerset,NJ,American (Traditional),40.529399,-74.521466,2,133,3.0
28,Ferraro's Pizzeria & Pub,Middlesex,NJ,Italian,40.563220,-74.513280,2,117,4.5
46,The Brown Stone,Metuchen,NJ,Sports Bars,40.534486,-74.376509,2,111,3.0
42,Gabriele's Bar & Grill,Piscataway,NJ,American (Traditional),40.553032,-74.434967,2,101,3.0
33,Twenty/20 Taphouse,Somerset,NJ,Burgers,40.533787,-74.509521,2,86,3.0
1,Tavern on George,New Brunswick,NJ,Bars,40.494970,-74.443590,2,83,4.0
6,Hub City Brewhouse,New Brunswick,NJ,Sports Bars,40.494241,-74.443282,2,74,3.0
15,Cypress Brewing Company,Edison,NJ,Breweries,40.498430,-74.366050,1,69,4.5
30,Brunswick Grove,East Brunswick,NJ,American (New),40.437636,-74.427517,2,68,3.0
0,The Ale 'N 'Wich Pub,New Brunswick,NJ,Pubs,40.496197,-74.456070,1,67,4.5
44,Applebee's Grill + Bar,Milltown,NJ,American (Traditional),40.442248,-74.423916,2,59,2.5
20,Huey's Knight Club,New Brunswick,NJ,Pubs,40.499698,-74.454307,1,53,3.0
10,North Brunswick Pub-Bar,North Brunswick,NJ,American (Traditional),40.451597,-74.491139,2,50,3.0
21,Brick House Bar & Grill,Sayreville,NJ,Bars,40.458690,-74.351790,2,45,3.5
13,Olde Queens Tavern,New Brunswick,NJ,Dive Bars,40.498840,-74.452070,1,44,3.5
3,Blackthorn Restaurant and Irish Pub,New Brunswick,NJ,Irish,40.496172,-74.443295,2,42,3.0
2,Golden Rail Pub,New Brunswick,NJ,Karaoke,40.497948,-74.449648,1,34,3.0
9,Court Tavern,New Brunswick,NJ,Dive Bars,40.495703,-74.445187,1,32,3.5
17,The Brass Monkey,Sayreville,NJ,Pubs,40.429915,-74.342334,1,30,4.0
19,River Road Tavern,Piscataway,NJ,Bars,40.537540,-74.499070,2,24,4.5
8,Scarlet Pub,New Brunswick,NJ,Bars,40.499598,-74.452907,1,19,2.0
35,North Brunswick Pub and Grill,North Brunswick,NJ,Bars,40.451597,-74.491139,2,16,3.0
43,33's Tavern,South River,NJ,Lounges,40.444427,-74.393074,1,9,3.0
4,Park Pub,Highland Park,NJ,Bars,40.501090,-74.414190,1,9,4.0
31,South River Pub,South River,NJ,Pubs,40.450360,-74.381500,1,7,2.5
37,Boulevard Pub,Middlesex,NJ,Bars,40.563220,-74.513280,0,5,2.5
38,Brainy Borough Brewing,Metuchen,NJ,Breweries,40.541569,-74.360600,0,3,2.5
36,The 404 Bar & Packaged Goods,Sayreville,NJ,Sports Bars,40.460270,-74.341810,0,2,4.5

In [4]:
master2.groupby('Category')
#count the different categories in the category count.
category_counts = master2['Category'].nunique()
#get the average of the reviews for sample of 50
average_reviews = master2['Reviews'].mean()
#get the average of the ratings for sample of 50
average_rating = master2['Rating'].mean()
#average price rating throughout sample
average_price = master2['Price'].mean()

#group by category
grouped_east_df = master2.groupby('Category')

#counts the total of each category within the column
total_category = grouped_east_df['Category'].count()
price_avg = grouped_east_df['Price'].mean()
review_counts = grouped_east_df['Reviews'].mean()
rating_counts = grouped_east_df['Rating'].mean()

#This will populate an array of all categories in Sample.
# east_category_unique = grouped["Category"].unique()
# east_category_unique #121 unique categories
# east_total_categories = len(east_category_unique)

#Populate a dataframe with specfics on Manhattan,NY Grouped by Category.
category_stats_df= pd.DataFrame({
    "Number of Restaurants": total_category,
    "Average Price of Category": price_avg.round(2),
    "Average # of Reviews per Restaurant": review_counts.astype(int),
    "Average Rating by Category": rating_counts.round(2)
}).sort_values(by='Number of Restaurants', ascending=False).head(10)

# Populate Dataframe Filtering by Greater Number of Restaurants in Sample

In [5]:
category_stats_df

,Number of Restaurants,Average Price of Category,Average # of Reviews per Restaurant,Average Rating by Category
Category,,,,
Bars,13,1.69,169,3.38
Sports Bars,5,1.60,140,3.30
Pubs,5,1.20,151,3.50
American (Traditional),5,2.00,174,3.00
American (New),4,2.00,390,3.62
Breweries,2,0.50,36,3.50
Burgers,2,2.00,124,3.00
Dive Bars,2,1.00,38,3.50
Irish,2,2.00,158,3.50
Karaoke,1,1.00,34,3.00

In [6]:
#display of sorted dataframe.
master2
top_ten = pd.DataFrame(master.sort_values(by='Reviews', ascending=False).head(10))

# Create a Table of Top 10 Places in Sample

In [7]:
top_ten

,Business,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
7,Destination Dogs,New Brunswick,NJ,Hot Dogs,40.494711,-74.448171,2,869,4.5
47,Skylark Diner & Lounge,Edison,NJ,Diners,40.507740,-74.391035,2,674,3.5
12,Clydz,New Brunswick,NJ,American (New),40.495089,-74.445487,2,644,4.0
39,Topgolf,Edison,NJ,American (New),40.518360,-74.368310,2,622,3.5
23,Stuff Yer Face,New Brunswick,NJ,Pubs,40.498057,-74.448987,2,600,3.5
16,Old Man Rafferty's,New Brunswick,NJ,Bars,40.496574,-74.443792,2,545,3.5
27,Stage House Tavern,Somerset,NJ,American (Traditional),40.497680,-74.526960,2,529,3.5
29,Brick House Tavern + Tap,South Plainfield,NJ,Bars,40.549699,-74.430655,2,428,3.0
14,Harvest Moon Brewery / Cafe,New Brunswick,NJ,Beer Bar,40.496176,-74.444321,2,407,3.5
40,Bar Louie - Brunswick Square,East Brunswick,NJ,Bars,40.423991,-74.381819,2,390,3.0

# Create a Heatmap Based on Sample of 50 using # of Reviews as Weight

In [8]:
#create a heatmap of top ten places in sample
coordinates = master2[["Latitude", "Longitude"]]
# newyork_coordinates
weights = master2["Reviews"].astype(float)
# Heatmap 
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(coordinates, weights=weights,
                                   max_intensity=100,
                                   point_radius=10)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))