# Search Query

In [3]:
import json
import pandas as pd
import numpy as np
import requests
from config import api_key

# Enter in Answers to Questions

In [1]:
print("What type of Category would you like to search for? i.e Restaurant")
thing = input()
print("What city and state are you searching? i.e. New York City, NY")
location = input()
print("Offset Page Range? i.e. 50 results per page")
offset = int(input())

name = []
city = []
state = []
category = []
latitude = []
longitude = []
price = []
review_count = []
business_id = []
rating = []

def query_search(set_num): 
    url = 'https://api.yelp.com/v3/businesses/search'
    headers = {
        'Authorization': 'Bearer {}'.format(api_key),}
    url_params = { #parameters passed to the API
    "categories": thing,
    "location": location,
    'offset': offset_num,
     "limit":50
     }

    response = requests.get(url, headers=headers, params=url_params)
    return response.json()

What type of Category would you like to search for? i.e Restaurant
Restaurant
What city and state are you searching? i.e. New York City, NY
New York City, NY
Offset Page Range? i.e. 50 results per page
2

## Run Query Based On Parameters

In [4]:
for offset_num in range(offset): 
    try:
        response = query_search(offset_num)
        businesses=response['businesses']            
        for x in businesses:
            name.append(x['name'])
            business_id.append(x['id'])
            city.append(x['location']['city'])
            state.append(x['location']['state'])
            latitude.append(x['coordinates']['latitude'])
            longitude.append(x['coordinates']['longitude'])
            review_count.append(x['review_count'])
            rating.append(x['rating'])
            category.append(x['categories'][0]['title'])
            try:
                price.append(x['price'])
            except KeyError:
                price.append(0)
#             print(response)
    except AttributeError:
        print("error at ", offset_num)
    except KeyError:
        print("error at ", offset_num)

In [5]:
business_df = pd.DataFrame({
    "Business" : name,
    "Business ID": business_id,
    "City": city,
    "State": state,
    "Category": category,
    "Latitude": latitude,
    "Longitude": longitude,
    "Price":price,
    "Reviews": review_count,
    "Rating": rating
})
business_df

,Business,Business ID,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Levain Bakery,H4jJ7XB3CetIr1pg56CczQ,New York,NY,Bakeries,40.779940,-73.980283,$$,7769,4.5
1,The Halal Guys,xEnNFXtMLDF5kZDxfaCJgA,New York,NY,Food Stands,40.761756,-73.979230,$,9252,4.0
2,Katz's Delicatessen,V7lXZKBDzScDeGB8JmnzSA,New York,NY,Delis,40.722237,-73.987430,$$,11699,4.0
3,Ippudo NY,44SY464xDHbvOcjDzRbKkQ,New York,NY,Ramen,40.730920,-73.990150,$$,9845,4.0
4,The Metropolitan Museum of Art,jVncyqXwlx_D9f2xZn05tg,New York,NY,Art Museums,40.779254,-73.962884,0,2762,4.5
...,...,...,...,...,...,...,...,...,...,...
95,Rice To Riches,HxC2ZN010NxAFwjTqUVpzw,New York,NY,Desserts,40.721845,-73.995802,$$,2971,4.0
96,Traif,qLLxS7RwNEjP_jq_KQrPfA,Brooklyn,NY,American (New),40.710658,-73.958872,$$$,1830,4.5
97,Molly's Cupcakes,Hs1TH_4FpyzbX6_J5r1XXg,New York,NY,Bakeries,40.730140,-74.002480,$$,1623,4.5
98,Angel's Share,ZD22cMZvSmfNsXS9vKizGA,New York,NY,Cocktail Bars,40.729710,-73.989149,$$,2062,4.5
99,Morimoto,t1w4qyqyfEdTPhoy-5t3FA,New York,NY,Japanese,40.743320,-74.007130,$$$$,2990,4.0

In [7]:
business_df.to_csv('data/export.csv')