# Search Query, Enter in Specifc Search Parameters

In [1]:
import json
import pandas as pd
import numpy as np
import requests
from config import api_key

print("What type of Category would you like to search for? i.e Restaurant")
thing = input()
print("What city and state are you searching? i.e. New York City, NY")
location = input()
print("Offset Page Range? i.e. 50 results per page")
offset = int(input())

name = []
city = []
state = []
category = []
latitude = []
longitude = []
price = []
review_count = []
business_id = []
rating = []

def query_search(set_num): 
    url = 'https://api.yelp.com/v3/businesses/search'
    headers = {
        'Authorization': 'Bearer {}'.format(api_key),}
    url_params = { #parameters passed to the API
    "categories": thing,
    "location": location,
    'offset': offset_num,
     "limit":50
     }

    response = requests.get(url, headers=headers, params=url_params)
    return response.json()

for offset_num in range(offset): 
    try:
        response = query_search(offset_num)
        businesses=response['businesses']            
        for x in businesses:
            name.append(x['name'])
            business_id.append(x['id'])
            city.append(x['location']['city'])
            state.append(x['location']['state'])
            latitude.append(x['coordinates']['latitude'])
            longitude.append(x['coordinates']['longitude'])
            review_count.append(x['review_count'])
            rating.append(x['rating'])
            category.append(x['categories'][0]['title'])
            try:
                price.append(x['price'])
            except KeyError:
                price.append(0)
#             print(response)
    except AttributeError:
        print("error at ", offset_num)
    except KeyError:
        print("error at ", offset_num)
        
business_df = pd.DataFrame({
    "Business" : name,
    "Business ID": business_id,
    "City": city,
    "State": state,
    "Category": category,
    "Latitude": latitude,
    "Longitude": longitude,
    "Price":price,
    "Reviews": review_count,
    "Rating": rating
})
business_df

What type of Category would you like to search for? i.e Restaurant
restaurant
What city and state are you searching? i.e. New York City, NY
Chicago, IL
Offset Page Range? i.e. 50 results per page
200

,Business,Business ID,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Girl & the Goat,qjnpkS8yZO8xcyEIy5OU9A,Chicago,IL,American (New),41.884176,-87.647944,$$$,8405,4.5
1,Wildberry Pancakes and Cafe,cKZNbMvoqJaUe7n6lf6i7w,Chicago,IL,Pancakes,41.884668,-87.622880,$$,6929,4.5
2,Au Cheval,xoi7Cw7FoknAx5p880RtWQ,Chicago,IL,Bars,41.884660,-87.647668,$$,6753,4.5
3,The Purple Pig,boE4Ahsssqic7o5wQLI04w,Chicago,IL,Tapas/Small Plates,41.890694,-87.624782,$$,6944,4.0
4,Lou Malnati's Pizzeria,8vFJH_paXsMocmEO_KAa3w,Chicago,IL,Pizza,41.890357,-87.633704,$$,5870,4.0
...,...,...,...,...,...,...,...,...,...,...
9995,Fat Rice,uVYkk8dsnSMSd6xMGGoGTw,Chicago,IL,Chinese,41.931945,-87.701738,$$,1017,4.0
9996,Native Foods,J-i3frdwkM0prRxH98Zp2Q,Chicago,IL,American (New),41.878870,-87.631170,$$,794,4.0
9997,Jake Melnick's Corner Tap,vofANrgotem6XRBBf5sc7A,Chicago,IL,Sports Bars,41.895527,-87.626528,$$,1203,4.0
9998,The Roost Carolina Kitchen,vz1aN17saAgwhRD8kneCGw,Chicago,IL,Southern,41.954224,-87.666774,$$,709,4.0
9999,S.K.Y.,zH7lgLLw0FVfA6HrwV4pTw,Chicago,IL,American (New),41.857785,-87.657875,$$$,349,4.5

## Save Results to DataFrame

In [ ]:
business_df.to_csv('data/AustinTX.csv')