In [43]:
import pandas as pd
import numpy as np

In [44]:
#read all Csv files from each Location
west_data = (pd.read_csv('data/SanFrancisco.csv')).drop(columns=['Unnamed: 0', 'Business ID'])
east_data = (pd.read_csv('data/NewYork.csv')).drop(columns=['Unnamed: 0', 'Business ID'])
south_data = (pd.read_csv('data/AustinTX.csv')).drop(columns=['Unnamed: 0', 'Business ID'])
north_data = (pd.read_csv('data/Chicago.csv')).drop(columns=['Unnamed: 0', 'Business ID'])

In [45]:
# newyork_data.drop(columns=['Unnamed: 0', 'Business ID'])
west_data.head()

,Business,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Swan Oyster Depot,San Francisco,CA,Seafood,37.790939,-122.420796,$$,2709,4.0
1,Marco Polo Italian Ice Cream,San Francisco,CA,Ice Cream & Frozen Yogurt,37.742622,-122.481885,$,1430,4.5
2,Anchor Oyster Bar,San Francisco,CA,Seafood,37.759689,-122.434609,$$$,1470,4.5
3,Chez Maman East,San Francisco,CA,French,37.762439,-122.396692,$$,2043,4.5
4,Shizen Vegan Sushi Bar & Izakaya,San Francisco,CA,Sushi Bars,37.768314,-122.421642,$$,1497,4.5

In [46]:
east_data.head()

,Business,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Morimoto,New York,NY,Japanese,40.743320,-74.007130,$$$$,2989,4.0
1,Up Thai,New York,NY,Thai,40.769828,-73.957633,$$,2120,4.5
2,Per Se,New York,NY,French,40.768153,-73.982763,$$$$,1600,4.5
3,Cafe Habana,New York,NY,Cuban,40.722998,-73.994171,$$,3121,4.0
4,Junior's Restaurant & Bakery - 45th St.,New York,NY,Bakeries,40.758266,-73.986540,$$,4364,4.0

In [47]:
north_data.head()

,Business,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Volare Ristorante Italiano,Chicago,IL,Italian,41.891590,-87.622519,$$,2001,4.0
1,Over Easy Cafe,Chicago,IL,Breakfast & Brunch,41.971721,-87.679083,$$,1424,4.5
2,Siena Tavern,Chicago,IL,Italian,41.889075,-87.629970,$$$,1717,4.0
3,The Cloud Gate,Chicago,IL,Landmarks & Historical Buildings,41.882552,-87.622551,0,735,4.5
4,Lincoln Park Zoo,Chicago,IL,Zoos,41.920915,-87.633605,0,1238,4.5

In [48]:
east_data.head()

,Business,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Morimoto,New York,NY,Japanese,40.743320,-74.007130,$$$$,2989,4.0
1,Up Thai,New York,NY,Thai,40.769828,-73.957633,$$,2120,4.5
2,Per Se,New York,NY,French,40.768153,-73.982763,$$$$,1600,4.5
3,Cafe Habana,New York,NY,Cuban,40.722998,-73.994171,$$,3121,4.0
4,Junior's Restaurant & Bakery - 45th St.,New York,NY,Bakeries,40.758266,-73.986540,$$,4364,4.0

In [59]:
#breakdown by categories, counts in each category
east_category = east_data.loc[:,["Category"]]
# north_data_category.count()
east_category_counts = east_category["Category"].value_counts()
#total reviews breakdown by category

#price by category
east_category_price = east_category['Price'].value_counts()

#average value of review for category

east_category_counts

KeyError: 'Price'

In [3]:
#create a table discussing the total of sample pulled compared to total places reviewed by yelp

In [4]:
#North Vs South Vs East Vs West

In [5]:
#distribution of categories by region

In [ ]:
#come up with distribution of plots.  Take the sample and scatter plot the samples with star ratings to number of ratings
#scatter plot for sample of distribution, normal test? regression? try and distinguish correleations.