In [6]:
import pandas as pd
import numpy as np

In [22]:
#read all Csv files from each Location
sanfran_data = (pd.read_csv('data/SanFrancisco.csv')).drop(columns=['Unnamed: 0', 'Business ID'])
newyork_data = (pd.read_csv('data/NewYork.csv')).drop(columns=['Unnamed: 0', 'Business ID'])
austin_data = (pd.read_csv('data/AustinTX.csv')).drop(columns=['Unnamed: 0', 'Business ID'])
chicago_data = (pd.read_csv('data/Chicago.csv')).drop(columns=['Unnamed: 0', 'Business ID'])

In [21]:
# newyork_data.drop(columns=['Unnamed: 0', 'Business ID'])
sanfran_data

,Business,City,State,Category,Latitude,Longitude,Price,Reviews
0,Swan Oyster Depot,San Francisco,CA,Seafood,37.790939,-122.420796,$$,2709
1,Marco Polo Italian Ice Cream,San Francisco,CA,Ice Cream & Frozen Yogurt,37.742622,-122.481885,$,1429
2,Anchor Oyster Bar,San Francisco,CA,Seafood,37.759689,-122.434609,$$$,1470
3,Chez Maman East,San Francisco,CA,French,37.762439,-122.396692,$$,2043
4,Shizen Vegan Sushi Bar & Izakaya,San Francisco,CA,Sushi Bars,37.768314,-122.421642,$$,1497
...,...,...,...,...,...,...,...,...
945,Redford,San Francisco,CA,American (Traditional),37.786450,-122.414320,$$,442
946,Pampanguena Cuisine,San Francisco,CA,Filipino,37.727058,-122.432754,$$,316
947,Wok Shop Cafe,San Francisco,CA,Chinese,37.787384,-122.422165,$,586
948,Crawstation,San Francisco,CA,Seafood,37.763360,-122.465930,$$,946
949,Okina Sushi,San Francisco,CA,Sushi Bars,37.775740,-122.458120,$$,391

In [3]:
#create a table discussing the total of sample pulled compared to total places reviewed by yelp

In [4]:
#North Vs South Vs East Vs West

In [5]:
#distribution of categories by region