In [1]:
import pandas as pd
import numpy as np

In [2]:
#read all Csv files from each Location
west_data = (pd.read_csv('data/SanFrancisco.csv')).drop(columns=['Unnamed: 0', 'Business ID'])
east_data = (pd.read_csv('data/NewYork.csv')).drop(columns=['Unnamed: 0', 'Business ID'])
south_data = (pd.read_csv('data/AustinTX.csv')).drop(columns=['Unnamed: 0', 'Business ID'])
north_data = (pd.read_csv('data/Chicago.csv')).drop(columns=['Unnamed: 0', 'Business ID'])

In [3]:
# newyork_data.drop(columns=['Unnamed: 0', 'Business ID'])
north_data.head()

,Business,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Girl & the Goat,Chicago,IL,American (New),41.884176,-87.647944,$$$,8406,4.5
1,Wildberry Pancakes and Cafe,Chicago,IL,Pancakes,41.884668,-87.622880,$$,6924,4.5
2,Au Cheval,Chicago,IL,Bars,41.884660,-87.647668,$$,6750,4.5
3,The Purple Pig,Chicago,IL,Tapas/Small Plates,41.890694,-87.624782,$$,6942,4.0
4,Lou Malnati's Pizzeria,Chicago,IL,Pizza,41.890357,-87.633704,$$,5869,4.0

In [4]:
south_data.head()

,Business,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Franklin Barbecue,Austin,TX,Barbeque,30.270090,-97.731260,$$,4620,4.5
1,Moonshine Patio Bar & Grill,Austin,TX,Southern,30.263860,-97.737960,$$,4458,4.5
2,Hopdoddy Burger Bar,Austin,TX,Burgers,30.249649,-97.749907,$$,4532,4.0
3,Home Slice Pizza,Austin,TX,Pizza,30.249200,-97.749430,$$,3556,4.5
4,Uchi,Austin,TX,Sushi Bars,30.257540,-97.759810,$$$$,2278,4.5

In [5]:
east_data.head()

,Business,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Levain Bakery,New York,NY,Bakeries,40.779940,-73.980283,$$,7769,4.5
1,The Halal Guys,New York,NY,Food Stands,40.761756,-73.979230,$,9252,4.0
2,Katz's Delicatessen,New York,NY,Delis,40.722237,-73.987430,$$,11699,4.0
3,Ippudo NY,New York,NY,Ramen,40.730920,-73.990150,$$,9845,4.0
4,The Metropolitan Museum of Art,New York,NY,Art Museums,40.779254,-73.962884,0,2762,4.5

In [6]:
west_data.head()

,Business,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Bi-Rite Creamery,San Francisco,CA,Ice Cream & Frozen Yogurt,37.761591,-122.425717,$,9521,4.5
1,Brenda's French Soul Food,San Francisco,CA,French,37.782902,-122.419043,$$,10740,4.0
2,Gary Danko,San Francisco,CA,American (New),37.805870,-122.420580,$$$$,5439,4.5
3,Tartine Bakery & Cafe,San Francisco,CA,Bakeries,37.761425,-122.424051,$$,7767,4.0
4,Hog Island Oyster Co,San Francisco,CA,Seafood,37.795831,-122.393303,$$,5817,4.5

In [16]:
grouped_east_df = east_data.groupby('Category')
grouped_west_df = west_data.groupby('Category')
grouped_north_df = north_data.groupby('Category')
grouped_south_df = south_data.groupby('Category')

In [17]:
#counts the total of each category within the column
total_category_east = grouped_east_df['Category'].count()
# total_category.head()
#gets the average amount of reviews by category
review_counts_east = grouped_east_df['Reviews'].mean()
#avg star rating
rating_counts_east = grouped_east_df['Rating'].mean()

east_category_df= pd.DataFrame({
    "Number of Restaurants": total_category_east,
    "Average # of Reviews per Restaurant": review_counts_east,
    "Percentage of Ratings": rating_counts_east
})
east_category_df

,Number of Restaurants,Average # of Reviews per Restaurant,Percentage of Ratings
Category,,,
American (New),264,2429.022727,4.251894
Art Museums,5,2762.000000,4.500000
Bagels,40,2360.225000,4.500000
Bakeries,323,2817.569659,4.195046
Belgian,50,1532.000000,4.500000
Breakfast & Brunch,45,3098.000000,4.000000
Burgers,53,2987.000000,4.320755
Cajun/Creole,50,1840.000000,4.500000
Chinese,76,2190.921053,4.328947
Cocktail Bars,70,1866.285714,4.500000
Coffee & Tea,64,2365.875000,4.109375
Comfort Food,32,3891.000000,4.000000
Cuban,50,3121.000000,4.000000
Delis,3,11699.000000,4.000000
Desserts,102,3150.529412,3.931373
Dive Bars,33,1730.000000,4.000000
Donuts,108,2257.703704,4.268519
Food Stands,2,9252.000000,4.000000
French,279,2035.426523,4.397849
Gastropubs,13,788.000000,5.000000
Gluten-Free,16,2115.000000,4.000000
Ice Cream & Frozen Yogurt,212,1727.433962,4.419811
Indian,50,1673.040000,4.500000
Italian,269,2763.758364,4.185874
Japanese,122,2279.000000,4.069672
Korean,133,1428.135338,4.428571
Landmarks & Historical Buildings,117,1453.581197,4.500000
Lounges,18,1421.000000,4.500000
Macarons,48,1858.000000,4.500000
Mediterranean,17,2326.000000,4.000000
Middle Eastern,50,2344.000000,4.000000
Museums,17,1370.000000,4.500000
Parks,69,1445.608696,4.543478
Pizza,264,3428.772727,4.022727
Ramen,77,4701.805195,4.000000
Sandwiches,54,2093.481481,4.092593
Seafood,52,2395.500000,4.403846
Shanghainese,30,5939.000000,4.000000
Steakhouses,133,2996.774436,4.263158
Tacos,48,1690.666667,4.500000
Tapas Bars,50,2165.000000,4.000000
Thai,171,2170.385965,4.374269
Vegetarian,49,1501.000000,4.500000
Venezuelan,45,2539.000000,4.000000
Vietnamese,27,1563.000000,4.500000

In [18]:
#counts the total of each category within the column
total_category_west = grouped_west_df['Category'].count()
# total_category.head()
#gets the average amount of reviews by category
review_counts_west = grouped_west_df['Reviews'].mean()
#avg star rating
rating_counts_west = grouped_west_df['Rating'].mean()

west_category_df= pd.DataFrame({
    "Number of Restaurants": total_category_west,
    "Average # of Reviews per Restaurant": review_counts_west,
    "Percentage of Ratings": rating_counts_west
})
west_category_df

,Number of Restaurants,Average # of Reviews per Restaurant,Percentage of Ratings
Category,,,
American (New),16,5092.062500,4.093750
American (Traditional),43,4463.162791,4.000000
Asian Fusion,9,4707.000000,4.500000
Bakeries,124,2302.645161,4.483871
Bars,18,2264.000000,4.500000
Breakfast & Brunch,83,3842.795181,4.006024
British,18,2918.000000,4.500000
Burmese,8,6656.000000,4.000000
Chinese,11,6667.000000,4.000000
Cocktail Bars,10,4330.000000,4.000000
Coffee & Tea,34,1612.088235,4.500000
Comedy Clubs,18,903.000000,5.000000
French,36,2907.388889,4.444444
German,18,3092.000000,4.000000
Greek,10,4437.000000,4.500000
Hiking,3,818.000000,5.000000
Ice Cream & Frozen Yogurt,41,2829.829268,4.280488
Italian,18,3528.000000,4.000000
Korean,18,2473.000000,4.000000
Landmarks & Historical Buildings,18,1835.000000,4.500000
Mexican,43,3622.813953,4.127907
Museums,18,1666.000000,4.500000
Parks,59,1216.677966,4.542373
Peruvian,8,3130.000000,4.000000
Pizza,54,3706.666667,4.333333
Ramen,18,2564.000000,4.500000
Seafood,70,3535.285714,4.271429
Steakhouses,22,3087.636364,4.000000
Sushi Bars,13,1497.000000,4.500000
Tapas/Small Plates,24,2537.000000,4.000000
Vietnamese,17,3200.000000,4.500000

In [19]:
#counts the total of each category within the column
total_category_north = grouped_north_df['Category'].count()
# total_category.head()
#gets the average amount of reviews by category
review_counts_north = grouped_north_df['Reviews'].mean()
#avg star rating
rating_counts_north = grouped_north_df['Rating'].mean()

north_category_df= pd.DataFrame({
    "Number of Restaurants": total_category_north,
    "Average # of Reviews per Restaurant": review_counts_north,
    "Percentage of Ratings": rating_counts_north
})
north_category_df

,Number of Restaurants,Average # of Reviews per Restaurant,Percentage of Ratings
Category,,,
American (New),681,1489.944200,4.199706
American (Traditional),200,1768.250000,4.250000
Art Schools,6,1763.000000,4.500000
Asian Fusion,159,1701.729560,4.264151
Bakeries,149,1382.510067,4.332215
...,...,...,...
Vegan,50,829.000000,4.500000
Vegetarian,50,1389.000000,4.000000
Vietnamese,68,1050.764706,4.367647
Wine Bars,131,676.435115,4.690840
Zoos,50,1238.000000,4.500000

In [22]:
#counts the total of each category within the column
total_category_south = grouped_south_df['Category'].count()
# total_category.head()
#gets the average amount of reviews by category
review_counts_south = grouped_south_df['Reviews'].mean()
#avg star rating
rating_counts_south = grouped_south_df['Rating'].mean()

south_category_df= pd.DataFrame({
    "Number of Restaurants": total_category_south,
    "Average # of Reviews per Restaurant": review_counts_south,
    "Percentage of Ratings": rating_counts_south
})
south_category_df

,Number of Restaurants,Average # of Reviews per Restaurant,Percentage of Ratings
Category,,,
American (New),24,946.500000,4.500000
American (Traditional),18,1951.333333,4.500000
Asian Fusion,12,1596.000000,4.500000
Barbeque,45,1785.688889,4.322222
Beer Gardens,12,2288.000000,4.000000
Breakfast & Brunch,45,1337.088889,4.133333
Burgers,15,2252.000000,4.000000
Cajun/Creole,12,1046.000000,4.500000
Caterers,12,978.000000,4.500000
Coffee & Tea,20,1138.200000,4.300000
Cuban,12,742.000000,4.500000
Delis,18,939.666667,4.500000
Food Trucks,36,664.666667,4.666667
Gelato,12,587.000000,4.500000
German,12,1620.000000,4.000000
Greek,12,666.000000,4.500000
Grocery,12,1198.000000,4.000000
Hot Dogs,12,363.000000,5.000000
Ice Cream & Frozen Yogurt,12,1243.000000,4.500000
Italian,12,615.000000,4.500000
Japanese,12,1260.000000,4.000000
Landmarks & Historical Buildings,12,450.000000,4.500000
Mediterranean,9,399.000000,4.500000
Mexican,12,1789.000000,4.000000
Pizza,26,1212.000000,4.307692
Pubs,12,1386.000000,4.000000
Ramen,36,1647.666667,4.000000
Seafood,24,921.500000,4.500000
Southern,13,2549.923077,4.076923
Steakhouses,11,1037.000000,4.000000
Sushi Bars,13,1896.461538,4.500000
Thai,14,1553.142857,4.000000
Vegan,12,591.000000,4.500000
Vegetarian,10,2178.000000,4.500000
Vietnamese,19,1291.157895,4.184211

In [ ]:
#create bar plots discussing the top distribution of categories by area. #distribution by category

In [21]:
#create a table discussing the total of sample pulled compared to total places reviewed by yelp

In [4]:
#North Vs South Vs East Vs West

In [5]:
#inserting heatmaps of samples taken of each area, 20% of area samples taken respectively to total # of restaurants reviewed.