In [1]:
from tinydb import TinyDB, Query
import pandas as pd
import matplotlib as plt
from pprint import pprint
import json
import requests
import numpy as np

In [ ]:
with open("business.json", 'r', encoding='utf-8')as business:
    data = json.loads(business.readline())
    #data = TinyDB(business.readline())
    pprint(data, depth=1)
    
#     data = json.loads(business.readline())
#     pprint(data)

In [ ]:
with open("checkin.json", 'r', encoding='utf-8')as checkin:
    checkindata = json.loads(checkin.readline())
    #data = TinyDB(business.readline())
    pprint(data, depth=1)
    
#     checkindata = json.loads(checkin.readline())
#     pprint(data)

In [ ]:
with open("tip.json", 'r', encoding='utf-8')as tip:
    tipdata = json.loads(tip.readline())
    #data = TinyDB(business.readline())
    pprint(data, depth=1)
    
    tipdata = json.loads(tip.readline())
    pprint(data)
    #     for name in data['name']:
#         name.append(name)

In [2]:
name = []
city = []
state = []
category = []
latitude = []
longitude = []
stars = []
review_count = []

In [3]:
business_df = pd.DataFrame({
    "Business" : name,
    "City": city,
    "State": state,
    "Category": category,
    "Latitude": latitude,
    "Longitude": longitude,
    "Stars":stars
})
business_df

Empty DataFrame
Columns: [Business, City, State, Category, Latitude, Longitude, Stars]
Index: []

In [4]:
with open("business.json", 'r', encoding='utf-8')as business:
    line = business.readline()
    data = json.loads(line)
    name.append(data['name'])
    city.append(data['city'])
    state.append(data['state'])
    category.append(data['categories'])
    latitude.append(data['latitude'])
    longitude.append(data['longitude'])
    stars.append(data['stars'])     

#     pprint(data, depth=1)
    while line:
        data=json.loads(line)
        name.append(data['name'])
        city.append(data['city'])
        state.append(data['state'])
        category.append(data['categories'])
        latitude.append(data['latitude'])
        longitude.append(data['longitude'])
        stars.append(data['stars'])                  
        line = business.readline()
# #         cnt += 1
#     pprint(name)

In [ ]:
# with open("business.json", 'r', encoding='utf-8')as business:
#     line = business.readline()
#     data = json.loads(line)
#     business_df = business_df.append({'Business':(data['name']),
#                                      'City':(data['city']),
#                                       'State':(data['state']),
#                                       'Category':(data['categories']),
#                                       'Latitude':(data['latitude']),
#                                       'Longitude':(data['longitude']),
#                                       'Stars':(data['stars'])
#                                      },ignore_index=True)
# #     pprint(data, depth=1)
#     while line:
#         business_df = business_df.append({'Business':(data['name']),
#                                      'City':(data['city']),
#                                       'State':(data['state']),
#                                       'Category':(data['categories']),
#                                       'Latitude':(data['latitude']),
#                                       'Longitude':(data['longitude']),
#                                       'Stars':(data['stars'])
#                                      },ignore_index=True)
#     pprint(name)

In [6]:
(len(city))

192610

In [5]:
(len(state))

192610

In [7]:
(len(category))

192610

In [8]:
(len(latitude))

192610

In [9]:
(len(longitude))

192610

In [10]:
(len(stars))

192610

In [11]:
business_df = pd.DataFrame({
    "Business" : name,
    "City": city,
    "State": state,
    "Category": category,
    "Latitude": latitude,
    "Longitude": longitude,
    "Stars":stars
})

In [13]:
business_df.head()

,Business,City,State,Category,Latitude,Longitude,Stars
0,Arizona Biltmore Golf Club,Phoenix,AZ,"Golf, Active Life",33.522143,-112.018481,3.0
1,Arizona Biltmore Golf Club,Phoenix,AZ,"Golf, Active Life",33.522143,-112.018481,3.0
2,Emerald Chinese Restaurant,Mississauga,ON,"Specialty Food, Restaurants, Dim Sum, Imported...",43.605499,-79.652289,2.5
3,Musashi Japanese Restaurant,Charlotte,NC,"Sushi Bars, Restaurants, Japanese",35.092564,-80.859132,4.0
4,Farmers Insurance - Paul Lorenz,Goodyear,AZ,"Insurance, Financial Services",33.455613,-112.395596,5.0

In [21]:
business_df.to_csv('businessdata1.csv', index=False)

In [22]:
#exported to csv file to test.