# Working Search Query

In [1]:
import json
import pandas as pd
import numpy as np
import requests
from config import api_key

In [2]:
## define a function to search for restaurants that have burgers or beer

In [3]:
name = []
city = []
state = []
category = []
latitude = []
longitude = []
price = []
review_count = []
business_id = []
rating = []

In [4]:
def query_search(set_num): 
    url = 'https://api.yelp.com/v3/businesses/search'
    headers = {
        'Authorization': 'Bearer {}'.format(api_key),}
    url_params = { #parameters passed to the API
    "categories": 'restaurant',
    "location":'Chicago, IL',
    'offset': offset_num,
     "limit":50
     }

    response = requests.get(url, headers=headers, params=url_params)
    return response.json()

## Run Query Based On Parameters

In [5]:
for offset_num in range(118): 
    try:
        response = query_search(offset_num)
        businesses=response['businesses']            
        for x in businesses:
            name.append(x['name'])
            business_id.append(x['id'])
            city.append(x['location']['city'])
            state.append(x['location']['state'])
            latitude.append(x['coordinates']['latitude'])
            longitude.append(x['coordinates']['longitude'])
            review_count.append(x['review_count'])
            rating.append(x['rating'])
            category.append(x['categories'][0]['title'])
            try:
                price.append(x['price'])
            except KeyError:
                price.append(0)
#             print(offset_num)
#             print(response)
    except AttributeError:
        print("error at ", offset_num)
    except KeyError:
        print("error at ", offset_num)

In [6]:
business_df = pd.DataFrame({
    "Business" : name,
    "Business ID": business_id,
    "City": city,
    "State": state,
    "Category": category,
    "Latitude": latitude,
    "Longitude": longitude,
    "Price":price,
    "Reviews": review_count,
    "Rating": rating
})

In [7]:
business_df

,Business,Business ID,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Girl & the Goat,qjnpkS8yZO8xcyEIy5OU9A,Chicago,IL,American (New),41.884176,-87.647944,$$$,8406,4.5
1,Wildberry Pancakes and Cafe,cKZNbMvoqJaUe7n6lf6i7w,Chicago,IL,Pancakes,41.884668,-87.622880,$$,6924,4.5
2,Au Cheval,xoi7Cw7FoknAx5p880RtWQ,Chicago,IL,Bars,41.884660,-87.647668,$$,6750,4.5
3,The Purple Pig,boE4Ahsssqic7o5wQLI04w,Chicago,IL,Tapas/Small Plates,41.890694,-87.624782,$$,6942,4.0
4,Lou Malnati's Pizzeria,8vFJH_paXsMocmEO_KAa3w,Chicago,IL,Pizza,41.890357,-87.633704,$$,5869,4.0
...,...,...,...,...,...,...,...,...,...,...
5895,Spinning J Bakery and Soda Fountain,gxUFFsSLa-IyouuRD2Ma6w,Chicago,IL,Coffee & Tea,41.899450,-87.697160,$$,336,4.5
5896,Zizi's Cafe,wzw3aysUi9sBq-wLb6OXbQ,Chicago,IL,Mediterranean,41.933315,-87.653724,$$,569,4.5
5897,El Habanero,-NLBAIP5O8BYqbPg0toNog,Chicago,IL,Mexican,41.924960,-87.710990,$,442,4.5
5898,Farmhouse Chicago,6WE3zP14Azd0xM6Hk7C8Pw,Chicago,IL,Bars,41.896860,-87.635400,$$,1290,4.0
5899,Steak 48,f1neY8Zd9xld7BB7G7mC0Q,Chicago,IL,Steakhouses,41.893000,-87.626370,$$$$,568,4.5

In [8]:
# business_df.to_csv('data/Chicago.csv')