In [2]:
from tinydb import TinyDB, Query
import pandas as pd
import matplotlib as plt
from pprint import pprint
import json
import requests
import numpy as np
from datetime import datetime

In [38]:
with open("business.json", 'r', encoding='utf-8')as business:
    data = json.loads(business.readline())
    #data = TinyDB(business.readline())
    pprint(data, indent=4)
    
#     data = json.loads(business.readline())
#     pprint(data)

{   'address': '2818 E Camino Acequia Drive',
    'attributes': {'GoodForKids': 'False'},
    'business_id': '1SWheh84yJXfytovILXOAQ',
    'categories': 'Golf, Active Life',
    'city': 'Phoenix',
    'hours': None,
    'is_open': 0,
    'latitude': 33.5221425,
    'longitude': -112.0184807,
    'name': 'Arizona Biltmore Golf Club',
    'postal_code': '85016',
    'review_count': 5,
    'stars': 3.0,
    'state': 'AZ'}

In [4]:
with open("checkin.json", 'r', encoding='utf-8')as checkin:
    checkindata = json.loads(checkin.readline())
    #data = TinyDB(business.readline())
    pprint(checkindata, indent=4)
    
#     checkindata = json.loads(checkin.readline())
#     pprint(data)

{   'business_id': '--1UhMGODdWsrMastO9DZw',
    'date': '2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016-10-15 02:45:18, '
            '2016-11-18 01:54:50, 2017-04-20 18:39:06, 2017-05-03 17:58:02'}

In [5]:
with open("tip.json", 'r', encoding='utf-8')as tip:
    tipdata = json.loads(tip.readline())
    #data = TinyDB(business.readline())
    pprint(tipdata, depth=1)
    
    tipdata = json.loads(tip.readline())
    pprint(data)
    #     for name in data['name']:
#         name.append(name)

{'business_id': 'VaKXUpmWTTWDKbpJ3aQdMw',
 'compliment_count': 0,
 'date': '2014-03-27 03:51:24',
 'text': 'Great for watching games, ufc, and whatever else tickles yer fancy',
 'user_id': 'UPw5DWs_b-e2JRBS-t37Ag'}
{'address': '2818 E Camino Acequia Drive',
 'attributes': {'GoodForKids': 'False'},
 'business_id': '1SWheh84yJXfytovILXOAQ',
 'categories': 'Golf, Active Life',
 'city': 'Phoenix',
 'hours': None,
 'is_open': 0,
 'latitude': 33.5221425,
 'longitude': -112.0184807,
 'name': 'Arizona Biltmore Golf Club',
 'postal_code': '85016',
 'review_count': 5,
 'stars': 3.0,
 'state': 'AZ'}

# Generate lists to capture data from json files

In [6]:
name = []
city = []
state = []
category = []
latitude = []
longitude = []
stars = []
review_count = []
business_id = []

In [7]:
with open("business.json", 'r', encoding='utf-8')as business:
    line = business.readline()
    data = json.loads(line)
    name.append(data['name'])
    business_id.append(data['business_id'])
    city.append(data['city'])
    state.append(data['state'])
    category.append(data['categories'])
    latitude.append(data['latitude'])
    longitude.append(data['longitude'])
    review_count.append(data['review_count'])
    stars.append(data['stars'])     

#     pprint(data, depth=1)
    while line:
        data=json.loads(line)
        name.append(data['name'])
        business_id.append(data['business_id'])
        city.append(data['city'])
        state.append(data['state'])
        category.append(data['categories'])
        latitude.append(data['latitude'])
        longitude.append(data['longitude'])
        review_count.append(data['review_count'])
        stars.append(data['stars'])                  
        line = business.readline()
# #         cnt += 1
#     pprint(name)

In [ ]:
# with open("business.json", 'r', encoding='utf-8')as business:
#     line = business.readline()
#     data = json.loads(line)
#     business_df = business_df.append({'Business':(data['name']),
#                                      'City':(data['city']),
#                                       'State':(data['state']),
#                                       'Category':(data['categories']),
#                                       'Latitude':(data['latitude']),
#                                       'Longitude':(data['longitude']),
#                                       'Stars':(data['stars'])
#                                      },ignore_index=True)
# #     pprint(data, depth=1)
#     while line:
#         business_df = business_df.append({'Business':(data['name']),
#                                      'City':(data['city']),
#                                       'State':(data['state']),
#                                       'Category':(data['categories']),
#                                       'Latitude':(data['latitude']),
#                                       'Longitude':(data['longitude']),
#                                       'Stars':(data['stars'])
#                                      },ignore_index=True)
#     pprint(name)

In [16]:
business_df = pd.DataFrame({
    "Business" : name,
    "Business ID": business_id,
    "City": city,
    "State": state,
    "Category": category,
    "Latitude": latitude,
    "Longitude": longitude,
    "Stars":stars,
    "Reviews": review_count
})

# This populates the first master Dataframe from the business json file

In [31]:
business_df.head()

,Business,Business ID,City,State,Category,Latitude,Longitude,Stars,Reviews
0,Arizona Biltmore Golf Club,1SWheh84yJXfytovILXOAQ,Phoenix,AZ,"Golf, Active Life",33.522143,-112.018481,3.0,5
1,Arizona Biltmore Golf Club,1SWheh84yJXfytovILXOAQ,Phoenix,AZ,"Golf, Active Life",33.522143,-112.018481,3.0,5
2,Emerald Chinese Restaurant,QXAEGFB4oINsVuTFxEYKFQ,Mississauga,ON,"Specialty Food, Restaurants, Dim Sum, Imported...",43.605499,-79.652289,2.5,128
3,Musashi Japanese Restaurant,gnKjwL_1w79qoiV3IC_xQQ,Charlotte,NC,"Sushi Bars, Restaurants, Japanese",35.092564,-80.859132,4.0,170
4,Farmers Insurance - Paul Lorenz,xvX2CttrVhyG2z1dFg_0xw,Goodyear,AZ,"Insurance, Financial Services",33.455613,-112.395596,5.0,3

In [32]:
business_df.to_csv('businessdata2.csv', index=False)

# New Dataframe to Identify Number of Reviews Based on Category and City/State, Populate most reviews based on categories.

In [30]:
#dataframe of business, City, State, Category, Reviews
category_to_review_df = pd.DataFrame({
    "Business" : name,
    "City": city,
    "State": state,
    "Category": category,
    "Reviews": review_count
})
category_to_review_df.head()

,Business,City,State,Category,Reviews
0,Arizona Biltmore Golf Club,Phoenix,AZ,"Golf, Active Life",5
1,Arizona Biltmore Golf Club,Phoenix,AZ,"Golf, Active Life",5
2,Emerald Chinese Restaurant,Mississauga,ON,"Specialty Food, Restaurants, Dim Sum, Imported...",128
3,Musashi Japanese Restaurant,Charlotte,NC,"Sushi Bars, Restaurants, Japanese",170
4,Farmers Insurance - Paul Lorenz,Goodyear,AZ,"Insurance, Financial Services",3

# This dataframe is going to be used for finding number of reviews by state, and popular cities that receive reviews

In [33]:
#can also compare the number of reviews based on latitude if need be.
#use this to compare and analyze popular category based on reviews.
#top review counts - a graph to make here
#find overall breakdown of categories.

In [37]:
#made this dataframe to make it easier to populate a distribution of businesses based on categories.
#find the average rating of categories based on location.  State, City.
ratings_stars_df = pd.DataFrame({
    "Business" : name,
    "City": city,
    "State": state,
    "Category": category,
    "Stars": stars,
    "Reviews": review_count})
ratings_stars_df.head()

,Business,City,State,Category,Stars,Reviews
0,Arizona Biltmore Golf Club,Phoenix,AZ,"Golf, Active Life",3.0,5
1,Arizona Biltmore Golf Club,Phoenix,AZ,"Golf, Active Life",3.0,5
2,Emerald Chinese Restaurant,Mississauga,ON,"Specialty Food, Restaurants, Dim Sum, Imported...",2.5,128
3,Musashi Japanese Restaurant,Charlotte,NC,"Sushi Bars, Restaurants, Japanese",4.0,170
4,Farmers Insurance - Paul Lorenz,Goodyear,AZ,"Insurance, Financial Services",5.0,3

# Making specific dataframes for New Jersey

In [56]:
new_jersey_df = business_df.loc[business_df['State']=='CA']

In [57]:
new_jersey_df

,Business,Business ID,City,State,Category,Latitude,Longitude,Stars,Reviews
19063,Electric Daisy Carnival,YMeWjOd1svHDGdDCKoiGgg,Los Angeles,CA,"Local Flavor, Festivals, Arts & Entertainment,...",36.273260,-115.009430,4.5,36
20238,Pretty Girl Lingo,x_vRaIuDsvvRK5tQpV9hoA,Las Vegas,CA,"Hair Extensions, Makeup Artists, Hair Salons, ...",36.128561,-115.171130,5.0,4
36682,Atlantic Place Dental Office,dPlwOjYe6gFT-w85Qg6GeA,Monterey Park,CA,"Restaurants, General Dentistry, Dentists, Shop...",36.125053,-115.163918,3.0,4
47209,Makeup By Kassandra Franco,t8xvlKk5axVYy2c2p70NRg,Las Vegas Nv,CA,"Hair Extensions, Hair Stylists, Makeup Artists...",36.169941,-115.139830,4.5,15
54429,Couture Pawz,Lbq36N-MFtn9ozAYs1ZiCA,Chandler,CA,"Pet Services, Pet Groomers, Pets",33.287221,-111.940325,4.5,8
56949,Brooks Photography,oBEFhUe7yEH1PK25bImCWA,San Diego,CA,"Session Photography, Event Photography, Event ...",36.175000,-115.136389,1.5,35
57584,Tiffany's Braid Lounge,SP_tfo1VdYlrXBG_6OMZdA,Antioch,CA,"Hair Stylists, Beauty & Spas, Hair Extensions,...",36.221598,-115.168253,2.5,11
68640,Fireplace Door Guy,UfUddig0a3jDlIrz3Jg-JQ,Temecula,CA,"Fireplace Services, Chimney Sweeps, Door Sales...",33.495635,-111.925129,5.0,17
68991,Finest-Edge Precision Sharpening Service,meK9y7zRVoN4uaf6sAC8KQ,Peninsula,CA,"Local Services, Knife Sharpening",41.241167,-81.552618,5.0,22
78450,Beachside Tans,UE_fvET7Aj16w7Cluj7ZGg,Huntington Beach,CA,"Beauty & Spas, Spray Tanning, Tanning",33.401362,-111.728268,5.0,10
81251,Jaclyn Webb Healing,d8QM8eV7dyjBTTPever-RA,Las Vegas,CA,"Doctors, Professional Services, Reiki, Health ...",36.040216,-115.224485,5.0,6
117553,Core Pest Solutions,f4SdDMDdsCspFFom9J-pqg,Surprise,CA,"Local Services, Pest Control, Contractors, Hom...",33.613778,-112.431246,4.5,11
125577,Goldeen Myofascial Release Therapy,ZbZCTHxQBv0QGLEcL_BYBw,Scottadale,CA,"Beauty & Spas, Massage Therapy, Massage, Massa...",33.495233,-111.927268,5.0,11
134834,Respclearance,HUA_z4eTS7hNVqChOOFccQ,Nationwide,CA,Professional Services,41.232425,-81.840915,5.0,4
137674,Rebecca Vinacour Photography,gavl0UJkI0Z5Dzs_tHXQ9A,Los Angeles,CA,"Session Photography, Event Planning & Services...",33.457453,-112.060988,4.5,11
146691,Melody Events,FSeUlxc0mOzfNU2-IJnxWA,Gilbert,CA,"Wedding Planning, Event Planning & Services, P...",33.289432,-111.713467,5.0,6
151761,Sabai Beauty & Wellness,lfK_nFK50w2Gr6IMZviyIQ,Morgan Hill,CA,"Waxing, Massage Therapy, Beauty & Spas, Hair R...",33.310083,-111.897002,4.0,29
159888,Seacoast Garage Door,zCCd58xXhpYkrqsuN1OnYg,Sacramento,CA,"Garage Door Services, Home Services",36.040121,-115.027454,1.0,3
183436,Party City,DOPUVzD2evgm5xJ-Ea66uQ,Dublin,CA,"Arts & Crafts, Costumes, Home & Garden, Shoppi...",40.335625,-79.960607,2.0,4

In [58]:
business_df.head()

,Business,Business ID,City,State,Category,Latitude,Longitude,Stars,Reviews
0,Arizona Biltmore Golf Club,1SWheh84yJXfytovILXOAQ,Phoenix,AZ,"Golf, Active Life",33.522143,-112.018481,3.0,5
1,Arizona Biltmore Golf Club,1SWheh84yJXfytovILXOAQ,Phoenix,AZ,"Golf, Active Life",33.522143,-112.018481,3.0,5
2,Emerald Chinese Restaurant,QXAEGFB4oINsVuTFxEYKFQ,Mississauga,ON,"Specialty Food, Restaurants, Dim Sum, Imported...",43.605499,-79.652289,2.5,128
3,Musashi Japanese Restaurant,gnKjwL_1w79qoiV3IC_xQQ,Charlotte,NC,"Sushi Bars, Restaurants, Japanese",35.092564,-80.859132,4.0,170
4,Farmers Insurance - Paul Lorenz,xvX2CttrVhyG2z1dFg_0xw,Goodyear,AZ,"Insurance, Financial Services",33.455613,-112.395596,5.0,3

In [67]:
len(business_df.loc[business_df['State']=='CA'])

19

In [25]:
#lists for checkins capture
checkin_business_id = []
checkins= []

In [26]:
# with open("checkin.json", 'r', encoding='utf-8')as checkin:
#     line = checkin.readline()
#     data = json.loads(line)
#     checkin_business_id.append(data['business_id'])
#     checkins.append((data['date']))
# #this will append one line into the list... Adding the next couple of lines crash
# #     line = checkin.readline()
# #     data = json.loads(line)
# #     checkin_business_id.append(data['business_id'])
# #     checkin_date.append(data['date'])
# #     while line:
# #         data=json.loads(line)
# # #         checkin_business_id.append(data['business_id'])
# #         checkins.append(len(data['date'])/20.6667)