# Working Search Query

In [8]:
import json
import pandas as pd
import numpy as np
import requests
from config import api_key

In [9]:
## define a function to search for restaurants that have burgers or beer

In [10]:
name = []
city = []
state = []
category = []
latitude = []
longitude = []
price = []
review_count = []
business_id = []
rating = []

In [16]:
def query_search(set_num): 
    url = 'https://api.yelp.com/v3/businesses/search'
    headers = {
        'Authorization': 'Bearer {}'.format(api_key),}
    url_params = { #parameters passed to the API
    "categories": 'restaurant',
    "location":'New York City, NY',
    'offset': offset_num,
     "limit":50
     }

    response = requests.get(url, headers=headers, params=url_params)
    return response.json()

## Run Query Based On Parameters

In [18]:
for offset_num in range(1): 
    try:
        response = query_search(offset_num)
        businesses=response['businesses']            
        for x in businesses:
            name.append(x['name'])
            business_id.append(x['id'])
            city.append(x['location']['city'])
            state.append(x['location']['state'])
            latitude.append(x['coordinates']['latitude'])
            longitude.append(x['coordinates']['longitude'])
            review_count.append(x['review_count'])
            rating.append(x['rating'])
            category.append(x['categories'][0]['title'])
            try:
                price.append(x['price'])
            except KeyError:
                price.append(0)
#             print(offset_num)
#             print(response)
    except AttributeError:
        print("error at ", offset_num)
    except KeyError:
        print("error at ", offset_num)

In [19]:
business_df = pd.DataFrame({
    "Business" : name,
    "Business ID": business_id,
    "City": city,
    "State": state,
    "Category": category,
    "Latitude": latitude,
    "Longitude": longitude,
    "Price":price,
    "Reviews": review_count,
    "Rating": rating
})

In [20]:
business_df

,Business,Business ID,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Levain Bakery,H4jJ7XB3CetIr1pg56CczQ,New York,NY,Bakeries,40.779940,-73.980283,$$,7769,4.5
1,The Halal Guys,xEnNFXtMLDF5kZDxfaCJgA,New York,NY,Food Stands,40.761756,-73.979230,$,9252,4.0
2,Katz's Delicatessen,V7lXZKBDzScDeGB8JmnzSA,New York,NY,Delis,40.722237,-73.987430,$$,11697,4.0
3,Ippudo NY,44SY464xDHbvOcjDzRbKkQ,New York,NY,Ramen,40.730920,-73.990150,$$,9845,4.0
4,The Metropolitan Museum of Art,jVncyqXwlx_D9f2xZn05tg,New York,NY,Art Museums,40.779254,-73.962884,0,2762,4.5
...,...,...,...,...,...,...,...,...,...,...
295,ABC Kitchen,dMhRafXdr765DHe0k-QfaQ,New York,NY,American (New),40.738085,-73.989472,$$$,2919,4.0
296,Rice To Riches,HxC2ZN010NxAFwjTqUVpzw,New York,NY,Desserts,40.721845,-73.995802,$$,2971,4.0
297,Traif,qLLxS7RwNEjP_jq_KQrPfA,Brooklyn,NY,American (New),40.710658,-73.958872,$$$,1830,4.5
298,Molly's Cupcakes,Hs1TH_4FpyzbX6_J5r1XXg,New York,NY,Bakeries,40.730140,-74.002480,$$,1623,4.5
299,Angel's Share,ZD22cMZvSmfNsXS9vKizGA,New York,NY,Cocktail Bars,40.729710,-73.989149,$$,2061,4.5

In [ ]:
# business_df.to_csv('data/SanFrancisco.csv')