In [17]:
import requests
import json
import pandas as pd
import numpy as np
from pprint import pprint
from config import api_key
name = []
city = []
state = []
category = []
latitude = []
longitude = []
price = []
review_count = []
business_id = []
rating = []
#testloop


#headers
headers={'Authorization':'Bearer %s' % api_key}
#url for yelp
url='https://api.yelp.com/v3/businesses/search'
#parameters
params = {'term':'restaurant','location':"Manhattan", 'limit':50, 'offset': 0}
req=requests.get(url, params=params, headers=headers)

#each time you run this you will burn through your daily amount.
parsed = json.loads(req.text)
# pprint(parsed, depth=4).head()
businesses = parsed['businesses']
#This loop just parses data from the Json request and appends to lists.
for business in businesses:
    name.append(business['name'])
    business_id.append(business['id'])
    city.append(business['location']['city'])
    state.append(business['location']['state'])
    latitude.append(business['coordinates']['latitude'])
    longitude.append(business['coordinates']['longitude'])
    review_count.append(business['review_count'])
    rating.append(business['rating'])
    category.append(business['categories'][0]['title'])
    
    try:
        price.append(business['price'])
    except KeyError:
        price.append(0)
newyork_df = pd.DataFrame({
    "Business" : name,
    "Business ID": business_id,
    "City": city,
    "State": state,
    "Category": category,
    "Latitude": latitude,
    "Longitude": longitude,
    "Price":price,
    "Reviews": review_count,
    "Rating": rating
})

In [15]:
newyork_df

,Business,Business ID,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Upstate,ehUuSk5gPTCQmwS_ubgKRA,New York,NY,Seafood,40.726314,-73.986490,$$,1784,4.5
1,Barn Joo 35,xZ96vaoL-cQjfotmUKtjJQ,New York,NY,Korean,40.749640,-73.985820,$$,1728,4.5
2,Trattoria Trecolori,DoSU8IPq-Py_YV3kYmXPfQ,New York,NY,Italian,40.759980,-73.986710,$$,2247,4.0
3,Anytime,VvsZAnEwU4c8Xkyrzx05Nw,New York,NY,Korean,40.747790,-73.986740,$$,918,5.0
4,Am√©lie,ETgJqJHV7BW6pIr9Ox74sA,New York,NY,French,40.732700,-73.997660,$$,2563,4.5
5,Jacob's Pickles,xt4sa64WOrpJvZBDPNPNYg,New York,NY,Comfort Food,40.786650,-73.975528,$$,3891,4.0
6,nonono,qm1J_dPA5IHij1oAnoZwHw,New York,NY,Tapas/Small Plates,40.745450,-73.984990,$$,514,4.5
7,Joe's Shanghai,0CjK3esfpFcxIopebzjFxA,New York,NY,Shanghainese,40.714669,-73.997760,$$,5941,4.0
8,Thai Villa,B3_K2kUVbYOU0VaLcj_LTw,New York,NY,Thai,40.739020,-73.990650,$$,2883,4.5
9,Katsu-Hama,-J8VuX3wGrYSOBu2G0hMsw,New York,NY,Japanese,40.756380,-73.977590,$$,1228,4.0
10,Burger & Lobster,UA2M9QFZghe-9th2KwLoWQ,New York,NY,Seafood,40.740070,-73.993440,$$,5273,4.0
11,Bea,Rc1lxc5lSKJYd162JHNMfQ,New York,NY,American (New),40.759197,-73.992336,$$,2380,4.0
12,LoveMama,jjJc_CrkB2HodEinB6cWww,New York,NY,Thai,40.730386,-73.986061,$$,4569,4.5
13,The Tang - Upper West Side,TzhAlljC_843JO7UDDUIaQ,New York,NY,Chinese,40.800060,-73.966390,$$,122,4.5
14,Carmine's Italian Restaurant - Times Square,22nKUyCIbpnzR6R3_g1ptQ,New York,NY,Italian,40.757496,-73.986684,$$,3585,4.0
15,Baodega,3oB2_2vpeIyxJt1GvlcZBA,New York,NY,Shanghainese,40.740140,-73.991780,0,61,4.0
16,THEP Thai Restaurant,O1fUmxt3kbV-rnyjBtzAfw,New York,NY,Thai,40.770780,-73.957270,$$,746,4.5
17,Nino's 46,vjubSxmdG_HoBBgd39geBw,New York,NY,Italian,40.756916,-73.980516,$$,1114,4.0
18,Ipanema Restaurant,-udRA8VRsQJoIaT-kxCrGg,New York,NY,Brazilian,40.757072,-73.980780,$$,1299,4.0
19,TONCHIN NEW YORK,OFfZUS-nu6NDnsWe1B2bUQ,New York,NY,Ramen,40.750273,-73.984495,$$,918,4.5
20,District Social,eTR6nfHvQzvKX7Dcd6JrfA,New York,NY,Bars,40.753690,-73.991360,$$,638,4.0
21,99 Favor Taste,Xf6e3HaP0AgMBxY7dEDkOA,New York,NY,Chinese,40.717620,-73.992490,$$,1726,4.0
22,Momofuku Noodle Bar,Pr-q47vsmM4aoc2t_Sfk8w,New York,NY,American (New),40.768470,-73.983092,0,218,4.0
23,Boucherie West Village,s3jou_L_LVYGkNHiuhjlew,New York,NY,French,40.733063,-74.002877,$$$,1267,4.5
24,Tavola,V3USzFEGhuoXez4G2Rk11A,New York,NY,Italian,40.755403,-73.994516,$$,890,4.0
25,Up Thai,-OixbLnFLCzQclxCSbUQ8w,New York,NY,Thai,40.769828,-73.957633,$$,2122,4.5
26,Chama Mama,cTE0e96GYzet799EJeStoQ,New York,NY,Georgian,40.738400,-73.998920,$$,148,4.5
27,Hao Noodle Chelsea,pCfGgX0WxGASGM4-Yhr2Pw,New York,NY,Chinese,40.740700,-74.004360,$$,291,4.5
28,L'Artusi,rp8S7scxOkVVeG7dNneMGQ,New York,NY,Italian,40.733714,-74.005068,$$$,1751,4.5
29,Uva,OAqsZMbjv66nOMqlimnYuQ,New York,NY,Italian,40.772200,-73.955660,$$,2267,4.0
30,Katz's Delicatessen,V7lXZKBDzScDeGB8JmnzSA,New York,NY,Delis,40.722237,-73.987430,$$,11701,4.0
31,Los Tacos No.1,SULHf6nGQ8sK0UpG1XU30w,New York,NY,Tacos,40.757507,-73.987772,$,1467,4.5
32,Kilo,34-HPDO5GxVlVl4pZ-Bg3w,New York,NY,Tapas Bars,40.767137,-73.986674,$$,445,4.0
33,Burger & Lobster,YtXl15Nv7TZvV3yIqbZc8A,New York,NY,Seafood,40.755960,-73.985320,$$,872,4.0
34,The Boil,tiSw-6DIm3-mMORyEIOVyg,New York,NY,Cajun/Creole,40.719740,-73.993390,$$,1840,4.5
35,HandCraft Kitchen & Cocktails,h5WkewI6U7NjLB_n6WgdvQ,New York,NY,Cocktail Bars,40.741030,-73.981320,$$,365,4.0
36,Alta,XEugUtbw4rRmGr9S1XA-aQ,New York,NY,Tapas Bars,40.734516,-73.998337,$$$,1847,4.0
37,Tonkatsu Matsunoya,KJTTqIxuB0BEsYxLaYyAZw,New York,NY,Japanese,40.753349,-73.974159,$$,360,4.0
38,Raku,FlZ1zdVEKWv7dwqm8Uw8-w,New York,NY,Japanese,40.726499,-73.986653,$$,962,4.5
39,OBAO,NN3mOWF5e_pnR1ArqM2bHQ,New York,NY,Vietnamese,40.760654,-73.991332,$$,2349,4.0
40,Ippudo NY,44SY464xDHbvOcjDzRbKkQ,New York,NY,Ramen,40.730920,-73.990150,$$,9848,4.0
41,Clinton Street Baking Company,nU4XBdvxDABXqZ6CnB8Dig,New York,NY,Bakeries,40.721128,-73.983933,$$,4849,4.0
42,BH Kitchen & Bar,6MgQz0SEOYUih2N5JOa6rg,New York,NY,American (Traditional),40.757340,-73.976560,$$,130,4.0
43,Jongro BBQ,FZpm4_fbd6P984foOUejWg,New York,NY,Korean,40.747514,-73.986884,$$,1782,4.0
44,Pepe Giallo,AUifp6IDKzmorCM6vY2fug,New York,NY,Italian,40.746894,-74.004990,$$,614,4.0
45,Toloache 50,Wx6lMnEh7dCmX-9PQF1Ifw,New York,NY,Mexican,40.762325,-73.985574,$$,1865,4.0
46,Topaz Noodle Bar,43r4ynjeIZeQI1w7SWARuQ,New York,NY,Thai,40.764442,-73.978973,$$,606,4.0
47,Momofuku Nishi,os09iVkYkzIg9G1xEIepiA,New York,NY,Italian,40.744348,-73.998805,$$,566,4.0
48,Jardino Restaurant,b46yXCppjKNXgOt86AF-pQ,New York,NY,Italian,40.766860,-73.962490,0,19,5.0
49,Hold Fast Kitchen and Spirits,VLGmFHE4s0Sfu0piMVQa1Q,New York,NY,Cocktail Bars,40.760640,-73.990230,$$,235,5.0

In [16]:
grouped_df = newyork_df.groupby('Category')

In [10]:
#prints up the unique categories in the dataframe.
category_counts = grouped_df['Category'].nunique()
category_counts.head()

Category
American (New)            1
American (Traditional)    1
Bakeries                  1
Bars                      1
Brazilian                 1
Name: Category, dtype: int64

In [11]:
#counts the total of each category within the column
total_category = grouped_df['Category'].count()
# total_category.head()
#gets the average amount of reviews by category
review_counts = grouped_df['Reviews'].mean()
review_counts.head()
#avg star rating
rating_counts = grouped_df['Rating'].mean()

In [12]:
new_df= pd.DataFrame({
    "Number of Restaurants": total_category,
    "Average # of Reviews per Restaurant": review_counts,
    "Percentage of Ratings": rating_counts
})
new_df

,Number of Restaurants,Average # of Reviews per Restaurant,Percentage of Ratings
Category,,,
American (New),2,1299.000000,4.000000
American (Traditional),1,130.000000,4.000000
Bakeries,1,4849.000000,4.000000
Bars,1,638.000000,4.000000
Brazilian,1,1299.000000,4.000000
Cajun/Creole,1,1840.000000,4.500000
Chinese,3,713.000000,4.333333
Cocktail Bars,2,300.000000,4.500000
Comfort Food,1,3891.000000,4.000000
Delis,1,11701.000000,4.000000
French,2,1915.000000,4.500000
Georgian,1,148.000000,4.500000
Italian,9,1450.333333,4.166667
Japanese,3,850.000000,4.166667
Korean,3,1476.000000,4.500000
Mexican,1,1865.000000,4.000000
Ramen,2,5383.000000,4.250000
Seafood,3,2643.000000,4.166667
Shanghainese,2,3001.000000,4.000000
Tacos,1,1467.000000,4.500000
Tapas Bars,2,1146.000000,4.000000
Tapas/Small Plates,1,514.000000,4.500000
Thai,5,2185.200000,4.400000
Vietnamese,1,2349.000000,4.000000

In [80]:
new_df.to_csv('TestCategoryDF.csv')